[Unit]
Description=QuanWeb
After=postgresql.service

[Service]
User=quan
Group=www-data

Type=simple
WorkingDirectory=/home/quan/QuanWeb/quanweb
RuntimeDirectory=quanweb
# ExecStart=/home/quan/.local/bin/quanweb -vb /run/quanweb/web.sock
ExecStart=/home/quan/.local/bin/quanweb -v
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
