{% extends 'base.jinja' %}

{% block title %}Books{% endblock %}

{% block inner_content %}
  <div class='row'>
    {% for b in books -%}
      <div class='col-md-4'>
        <article>
          <header><h3>{{ b }}</h3></header>
          <div>
            {{ b.author }}
          </div>
          <div>
            <a href='{{ b.download_url }}' target='_blank'>Download</a>
          </div>
        </article>
      </div>
    {%- endfor %}
  </div>
{% endblock inner_content %}
