@tailwind base;
@tailwind components;
@tailwind utilities;

.html-preview pre {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.8em;
  border-radius: 0.3rem;
}

.html-preview code[class*="language-"] {
  font-size: 0.9em;
  line-height: 1.2em;
  white-space: pre-wrap;
  word-break: break-word;
}
