*~
*.pyc
*.pyo
__pycache__
node_modules
*.komodoproject
.directory
quanweb.egg-info
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
secret.py
custom_settings.toml
.secrets.toml
.env
DB
.vscode
.idea
.helix

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
vite-built
built-tailwind.css
*.local


# Added by cargo

/target
