[package]
name = "quanweb"
version = "0.1.0"
edition = "2021"
default-run = "quanweb"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
strip="debuginfo"

[dependencies]
async-fred-session = "0.1.5"
async-trait = "0.1.71"
axum = { version = "0.6.19", features = ["tracing", "json", "tower-log", "macros", "tokio", "headers", "query", "original-uri"] }
axum-extra = { version = "0.7.5" }
axum-login = "0.5.0"
axum-sessions = "0.5.0"
chrono = { version = "0.4.26", features = ["serde", "alloc", "clock"], default-features = false }
chrono-tz = { version = "0.8.3", features = ["serde"] }
clap = { version = "4.3.12", features = ["derive"] }
comrak = "0.18.0"
config = { version = "0.13.3", default-features = false, features = ["indexmap", "toml"] }
djangohashers = { version = "1.6.7", default-features = false, features = ["with_argon2"] }
edgedb-derive = "0.5.1"
edgedb-errors = { version = "0.4.1", features = ["miette"] }
edgedb-protocol = { version = "0.6.0", features = ["all-types"] }
edgedb-tokio = { version = "0.5.0", features = ["serde_json", "miette-errors"] }
eyre = "0.6.8"
faccess = "0.2.4"
fluent-bundle = "0.15.2"
fluent-templates = "0.8.0"
fred = { version = "6.3.0", features = ["serde-json", "partial-tracing"] }
garde = "0.11.2"
http = "0.2.9"
indexmap = { version = "2.0.0", features = ["serde"] }
libpassgen = "1.0.3"
miette = { version = "5.10.0", features = ["fancy", "serde"] }
mime_guess = "2.0.4"
minijinja = { version = "1.0.5", features = ["loader", "internal_debug"] }
once_cell = "1.18.0"
querystring_tiny = "0.2.1"
redact = { version = "0.1.1", features = ["serde"] }
regex = "1.9.1"
rust-embed = { version = "6.8.1", features = ["axum", "mime-guess", "include-exclude"] }
serde = { version = "1.0.164", features = ["serde_derive"] }
serde-value = "0.7.0"
serde_json = "1.0.99"
serde_with = "3.0.0"
smart-default = "0.7.1"
strum = { version = "0.25.0", features = ["derive", "strum_macros"] }
strum_macros = "0.25.0"
syntect = { version = "5.0.0", features = ["default-fancy"] }
thiserror = "1.0.43"
tokio = { version = "1.29.1", features = ["full"] }
tower-http = { version = "0.4.1", features = ["trace"] }
tracing = { git = "https://github.com/hongquan/tracing.git", branch = "feat/tracing-journald" }
tracing-journald = { git = "https://github.com/hongquan/tracing.git", branch = "feat/tracing-journald" }
tracing-subscriber = { git = "https://github.com/hongquan/tracing.git", branch = "feat/tracing-journald", features = ["env-filter"] }
unic-langid = { version = "0.9.1", features = ["serde"] }
uuid = { version = "1.4.1", features = ["v1", "serde"] }

[dev-dependencies]
nonzero = "0.1.0"

[build-dependencies]
crate-git-revision = "0.0.6"
