<div id='banner' class='page-header space-y-3 mt-6 mb-8'>
  <h1 class='text-4xl md:text-5xl font-bold text-primary'>Playground</h1>
  <p class='text-xl font-light text-muted'>on open source software</p>
</div>
