{% extends 'base.jinja' %}

{% block inner_content %}
  <h2 lang='vi' class='mt-4 text-lg'>Trang này đang được xây dựng lại. Vui lòng ghé lại dịp khác.</h2>
  <h2 lang='en' class='text-lg'>This page is being rebuilt. Please come again later.</h2>
{% endblock inner_content %}
