{% extends 'base.jinja' %}

{% block title %}Quan web{% endblock %}

{% block inner_content %}
  {% with front=true %}
    {% for p in posts %}
      {% include 'blog/block_post_content.jinja' %}
    {% endfor %}
  {% endwith %}
  <div class='text-center mt-4'>
    {% for item in pagelink_items %}
      {{ item.page }}
    {% endfor %}
  </div>
{% endblock inner_content %}
