<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
</head>

<body>
  <h1>Hello</h1>
  <main>
  {% if posts %}
    <ul>
    {% for p in posts %}
      <li>{{ p.title }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No posts</p>
  {% endif %}
  </main>
</body>

</html>
