{% set CHOICES = [('en', 'English'), ('vi', 'Tiếng Việt')] %}

<select name='lang' class='bg-transparent text-sm py-1 pl-1 pr-8 border-yellow-800' hx-post='/api/set-lang'>
  {% for (code, name) in CHOICES %}
    <option value='{{ code }}' {% if code == lang %}selected{% endif %}>{{ name }}</option>
  {% endfor %}
</select>
