<!DOCTYPE html>
<html>
<head>
  <title>Preview</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href='/static/css/built-tailwind.css?v={{ GIT_REVISION }}' rel='stylesheet' media='screen'>
  <link rel='stylesheet' href='/static/css/custom.css?v={{ GIT_REVISION }}'>
</head>
<body>
<article>
{{ content }}
</article>
<script src='/static/js/highlight-app.js?v={{ GIT_REVISION }}' type='module'></script>
<script type='module'>
  // There are pages which only have tiny apps defined directly in HTML markup, without any
  // <script type='module'> block. We need to load Alpine to activate those apps too.
  import Alpine from "https://unpkg.com/alpinejs@3.15.2/dist/module.esm.min.js"

  if (!window.Alpine) {
    window.Alpine = Alpine
  }

  if (window.Alpine) {
    console.log('Start tiny apps')
    window.Alpine.start()
  }
</script>
</body>
</html>
