<form class='relative {{ form_class }}' method='get' action='https://coccoc.com/search' target='_blank' x-data='search_app'>
  <svg width='20' height='20' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='absolute top-2 start-2 flex-none text-muted' aria-hidden='true'><path d='m19 19-3.5-3.5'></path><circle cx='11' cy='11' r='6'></circle></svg>
  <input x-model='keywords' type='search' 
         class='w-32 ps-8 pe-2 py-1.5 rounded-md text-sm transition-colors focus:outline-none border-hover bg-card border border-theme text-primary'
         title='Cốc Cốc' placeholder='Search...'>
  <input type='hidden' name='query' x-bind:value='query'>
</form>
