<form class='relative {{ form_class }}' method='get' action='https://coccoc.com/search' target='_blank' x-data='search_app'>
  <svg width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='absolute top-1.5 start-1 flex-none text-slate-300 dark:text-slate-400' aria-hidden='true'><path d='m19 19-3.5-3.5'></path><circle cx='11' cy='11' r='6'></circle></svg>
  <input x-model='keywords' type='search' class='w-32 ps-7 pe-2 py-1 bg-white ring-1 ring-slate-900/10 hover:ring-slate-300 focus:outline-none focus:ring-1 focus:ring-sky-500 shadow-sm text-slate-400 dark:bg-slate-800 dark:ring-0 dark:text-slate-300 dark:highlight-white/5 dark:hover:bg-slate-700' title='Cốc Cốc'>
  <input type='hidden' name='query' x-bind:value='query'>
</form>
