article .entry-content img {
  max-width: 100%
}

article .entry-content.front h2 {
  font-size: initial;
}

.entry-content {
  word-wrap: break-word;
  max-width: unset;
}

.codehilitetable .linenos pre {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #A0A0A0;
}

.codehilitetable pre {
  font-family: "Ubuntu Mono";
}

#disqus_thread {
  margin-top: 20px;
}

.navbar-orange {
  background-image: url(../img/headers/circle.png);
  background-position: -300px;
}

@media (min-width: 768px) {
  .navbar-orange {
    background-position: -300px -300px;
  }
}

.categories-links a {
  margin-right: 6px;
}

#banner h1 {
  font-family: Convergence;
}

.codehilitetable {
  width: 100%
}

.entry-content.front:after {
  content: '…'
}

.entry-content.front p:last-child {
  margin-bottom: 0;
}

.navbar-toggle .icon-bar {
  background-color: #000
}

.asciicast:fullscreen {
  width: 100%;
}

/* Code line numbering */
.q-need-highlight code.q-with-lineno {
  counter-reset: step calc(var(--start-line, 1) - 1);
  counter-increment: step 0;
}

.q-need-highlight code.q-with-lineno .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, .4)
}

.q-need-highlight {
  font-size: 0.75rem;
  line-height: 1rem;
}
