

article .entry-content img {
  max-width: 100%
}

article .entry-content h2 {
    font-size: initial;
}

.genericon:before, .menu-toggle:after, .featured-post:before, .date a:before, .entry-meta .author a:before, .format-audio .entry-content:before, .comments-link a:before, .tags-links a:first-child:before, .categories-links a:first-child:before, .edit-link a:before, .attachment , .attachment-meta:before, .attachment-meta a:before, .comment-awaiting-moderation:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .bypostauthor > .comment-body .fn:before, .error404 .page-title:before {
    display: inline-block;
    font: 16px/1 Genericons;
    vertical-align: text-bottom;
}

.entry-content {
  word-wrap: break-word;
  max-width: unset;
}

.codehilitetable .linenos pre {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #A0A0A0;
}

.codehilitetable pre {
  font-family: "Ubuntu Mono";
  font-size: 14px;
}

#disqus_thread {
  margin-top: 20px;
}

.navbar-orange {
  background-image: url(../img/headers/circle.png);
  background-position: -300px;
}

@media (min-width: 768px) {
  .navbar-orange {
    background-position: -300px -300px;
  }
}

.categories-links a {
  margin-right: 6px;
}

#banner h1 {
  font-family: Convergence;
  font-size: 48px;
}

a.onbar.active {
  border-bottom: 2px solid #FFFFFF;
  height: 50px;
}

.codehilitetable {
  width: 100%
}

.entry-content.front:after {
    content: '…'
}

.entry-content.front p:last-child {
  margin-bottom: 0;
}

.navbar-toggle .icon-bar {
  background-color: #000
}

.asciicast:fullscreen {
  width: 100%;
}
