@font-face {
    font-family: 'DejaVu Sans';
    src: url('dejavu/DejaVuSans.ttf');
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url('dejavu/DejaVuSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url('dejavu/DejaVuSans-Oblique.ttf');
    font-style: italic, oblique;
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url('dejavu/DejaVuSans-BoldOblique.ttf');
    font-weight: bold;
    font-style: italic, oblique;
}
