{% extends 'admin/model/edit.html' %}

{% macro my_extra() %}
  <input name="_continue_editing" type="submit" class="btn btn-default" value="{{ _gettext('Save and Continue') }}" />
{% endmacro %}

{% macro render_form_buttons(cancel_url, extra=None) %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="{{ _gettext('Submit') }}" />
        {% if extra %}
        {{ extra }}
        {% endif %}
        {% if cancel_url %}
        <a href="{{ cancel_url }}" class="btn btn-default">{{ _gettext('Cancel') }}</a>
        {% endif %}
      </div>
    </div>
{% endmacro %}

{% block body %}
    {% call lib.form_tag(form) %}
        {{ lib.render_form_fields(form, form_opts=form_opts) }}
        {{ render_form_buttons(return_url, my_extra()) }}
    {% endcall %}
{% endblock %}
