{% extends 'base.jinja' %}
{% block title %}{{ post.title }}{% endblock title %}

{% block meta_og %}
  <meta property='og:type' content='article' />
  {% if post.og_image %}
    <meta property='og:image' content='{{ post.og_image }}' />
  {% endif %}
  <meta property='og:description' content='{{ post.excerpt|striptags|e }}' />
{% endblock meta_og %}

{% block inner_content %}
  {% set LINK_CLASS = 'relative inline-flex items-center px-2 md:px-4 py-2 border border-gray-300 font-medium rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-slate-800' %}
  {% with p=post %}
    {% include 'blog/block_post_content.jinja' %}
  {% endwith %}
  <div class='flex flex-row justify-between mt-6 space-x-4'>
  {% if prev_post %}
    {% set prev_url = prev_post|post_detail_url %}
    {% with post_url = add_url_param(prev_url, 'cat', cat.slug) if cat else prev_url %}
      <a href='{{ post_url }}' class='{{ LINK_CLASS }}'>&larr; {{ prev_post.title }}</a>
    {% endwith %}
  {% endif %}
  {% if next_post %}
    {% set next_url = next_post|post_detail_url %}
    {% with post_url = add_url_param(next_url, 'cat', cat.slug) if cat else next_url %}
      <a href='{{ post_url }}' class='{{ LINK_CLASS }}'>{{ next_post.title }} &rarr;</a>
    {% endwith %}
  {% endif %}
  </div>
{% endblock inner_content %}
