{% extends 'base.jinja' %}
{% from 'mmacros.jinja' import render_pagination %}

{% block title %}{{ cat.title if cat else 'All' if front else 'Uncategorized' }}{% endblock title %}

{% block inner_content %}
  {% with front=true %}
    {% for p in posts %}
      {% include 'blog/block_post_content.jinja' %}
      {% if not loop.last %}
        <hr class='mt-8 border-gray-200'>
      {% endif %}
    {% endfor %}
  {% endwith %}
  <div class='text-center mt-4'>
    {{ render_pagination(pagelink_items) }}
  </div>
{% endblock inner_content %}
