<article class='post'>
  <header class='entry-header'>
    <h1 class='entry-title'>
      {% if not front %}
        {{ p.title }}
      {% elif cat %}
        <a rel='bookmark' href='{{ p|entry_url|add_urlparam('cat', cat.slug) }}'>{{ p.title }}</a>
      {% else %}
        <a rel='bookmark' href='{{ p|entry_url }}'>{{ p.title }}</a>
      {% endif %}
    </h1>
    <div class='entry-meta'>
      <span class='date'>
        <a rel='bookmark' title='Permalink to {{ p.title }}' href='{{ p|entry_url }}'>
          <span class='glyphicon glyphicon-calendar'></span>
          <time datetime='{{ p.date_published }}' class='entry-date'>{{ p.date_published|strftime('%d %B %Y') }}</time>
        </a>
      </span>
      <span class='categories-links'>
        {% for cat in p.categories %}
          <a rel='category' href='{{ cat|category_url }}'>
            <span class='glyphicon glyphicon-folder-open'></span>
            <span>&nbsp;{{ cat }}</span>
          </a>
        {% else %}
          <a rel='category' href='{{ url_for('blog.list_posts', catslug=UNCATEGORIZED) }}'>
            <span class='glyphicon glyphicon-folder-open'></span>
            <span>&nbsp;Uncategorized</span>
          </a>
        {% endfor %}
      </span>
    </div>
  </header>
  <div class='entry-content {{ front|yesno('front') }}'>
    {% if not front %}
      {{ p.body|markdown }}
    {% else %}
      {{ p.excerpt|safe }}
    {% endif %}
  </div>
  {% if front %}
    <footer class='entry-meta'>
      {% with url_full=p|entry_url, url_short=p|entry_url_short %}
        <div class='link-comment'>
          <a href='{{ url_full }}#disqus_thread' data-disqus-identifier='{{ url_short }}'>comments</a>
        </div>
        <div class='pull-right'>
          <a href='{{ url_full }}'>&raquo; Read full</a>
        </div>
      {% endwith %}
    </footer>
  {% endif %}
</article>
