{% extends 'base.jinja' %}
{% import 'macros.jinja' as macr %}

{% block title %}{{ cat_title|default('All') }}{% endblock title %}

{% block inner_content %}
  {% with front=True %}
    {% for p in entries %}
      {% include 'blog/block_post.jinja' %}
    {% endfor %}
  {% endwith %}
  <div class='text-center'>
    {{ macr.render_pagination(pagination, endpoint, cat_slug=cat) }}
  </div>
{% endblock inner_content %}

{% block js %}
  {{ super() }}
  {% include 'blog/comment_count.jinja' %}
{% endblock js %}
