{% extends 'base.jinja' %}

{% block title %}{{ entry.title }}{% endblock title %}

{% block meta_seo %}
  {% if entry.seo_description %}
    <meta property='description' content='{{ entry.seo_description }}' />
  {% endif %}
  {% if entry.seo_keywords %}
    <meta property='keywords' content='{{ entry.seo_keywords }}' />
  {% endif %}
{% endblock meta_seo %}

{% block meta_og %}
  <meta property='og:type' content='article' />
  {% if entry.og_image %}
    <meta property='og:image' content='{{ entry.og_image }}' />
  {% endif %}
  <meta property='og:description' content='{{ entry.excerpt|striptags }}' />
{% endblock meta_og %}

{% block inner_content %}
  {% with p=entry %}
    {% include 'blog/block_post.jinja' %}
  {% endwith %}
  <div class='flex flex-row justify-between mt-6 space-x-4'>
    {% with %}
      {% set prev_url = prev_entry|entry_url|add_urlparam('cat', catslug) if cat_slug else prev_entry|entry_url %}
      {% set next_url = next_entry|entry_url|add_urlparam('cat', catslug) if cat_slug else next_entry|entry_url %}
      <a href='{{ prev_url }}' title='{{ prev_entry.title }}'
         class='relative inline-flex items-center px-2 md:px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50'>&larr; {{ prev_entry.short_title }}</a>
      <a href='{{ next_url }}' title='{{ next_entry.title }}'
         class='relative inline-flex items-center px-2 md:px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50'>{{ next_entry.short_title }} &rarr;</a>
    {% endwith %}
  </div>
  {% block comments %}
    <div class='text-yellow-700 text-xs mt-4'>Website này sử dụng <a href='https://disqus.com/'>Disqus</a> cho comment. Nếu bạn không thấy các comment dưới đây, có lẽ Disqus đang bị chặn. Bạn cần <a href='https://thuthuatmaytinh.vn/thu-thuat-facebook/huong-dan-doi-dns-vao-facebook-nhanh-nhat-2015/' class='underline text-blue-500'>đổi DNS</a>.</div>
    <div id="disqus_thread mt-8"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'quanvn'; // required: replace example with your forum shortname
        var disqus_identifier = '{{ entry|entry_url_short }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink text-xs">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endblock comments %}
{% endblock inner_content %}
