{% extends 'base.jinja' %}

{% block title %}{{ entry.title }}{% endblock title %}

{% block meta_seo %}
  {% if entry.seo_description %}
    <meta property='description' content='{{ entry.seo_description }}' />
  {% endif %}
  {% if entry.seo_keywords %}
    <meta property='keywords' content='{{ entry.seo_keywords }}' />
  {% endif %}
{% endblock meta_seo %}

{% block meta_og %}
  <meta property='og:type' content='article' />
  {% if entry.og_image %}
    <meta property='og:image' content='{{ entry.og_image }}' />
  {% endif %}
  <meta property='og:description' content='{{ entry.excerpt|striptags }}' />
{% endblock meta_og %}

{% block inner_content %}
  {% with p=entry %}
    {% include 'blog/block_post.jinja' %}
  {% endwith %}
  <div class='flex flex-row justify-between mt-6 space-x-4'>
    {% with %}
      {% set prev_url = prev_entry|entry_url|add_urlparam('cat', catslug) if cat_slug else prev_entry|entry_url %}
      {% set next_url = next_entry|entry_url|add_urlparam('cat', catslug) if cat_slug else next_entry|entry_url %}
      <a href='{{ prev_url }}' title='{{ prev_entry.title }}'
         class='relative inline-flex items-center px-2 md:px-4 py-2 border border-gray-300 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50'>&larr; {{ prev_entry.short_title }}</a>
      <a href='{{ next_url }}' title='{{ next_entry.title }}'
         class='relative inline-flex items-center px-2 md:px-4 py-2 border border-gray-300 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50'>{{ next_entry.short_title }} &rarr;</a>
    {% endwith %}
  </div>
  {% block comments %}
    <div class='text-yellow-700 text-xs mt-4'>Website này sử dụng <a href='https://disqus.com/'>Disqus</a> cho comment. Nếu bạn không thấy các comment dưới đây, có lẽ Disqus đang bị chặn. Bạn cần <a href='https://thuthuatmaytinh.vn/thu-thuat-facebook/huong-dan-doi-dns-vao-facebook-nhanh-nhat-2015/' class='underline text-blue-500'>đổi DNS</a>.</div>
    <div id='disqus_thread' class='mt-8'></div>
    <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      */
      var disqus_config = function () {
      this.page.url = '{{ entry|entry_url }}';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '{{ entry|entry_url_short }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://quanvn.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endblock comments %}
{% endblock inner_content %}
