{% extends 'base.jinja' %}
{% import 'macros.jinja' as macr %}

{% block title %}Quan web{% endblock %}

{% block inner_content %}
  {% with front=True %}
    {% for p in posts %}
      {% include 'blog/block_post.jinja' %}
    {% endfor %}
  {% endwith %}
  <div class='text-center'>
    {{ macr.render_mobile_pagination(pagination, endpoint) }}
    {{ macr.render_pagination(pagination, endpoint) }}
  </div>
{% endblock inner_content %}

{% block js %}
  {{ super() }}
  {% include 'blog/comment_count.jinja' %}
{% endblock js %}
