<div id='banner' class='page-header'>
  <div class=''>
    <div class=''>
      <h1>Playground</h1>
      <p class='lead'>on open source software</p>
    </div>
    <div class=''>
    </div>
  </div>
</div>
