<!DOCTYPE html>
<html>
  <head>
  {% block head -%}
    <title>{% block title -%}{%- endblock title %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% if no_tracking %}
      <meta name='robots' content='noindex, nofollow'>
    {% endif %}
    <meta property='fb:app_id' content='396441990404313'>
    {% block meta_seo %}{% endblock meta_seo %}
    {% block meta_og %}{% endblock meta_og %}
    <meta name="flattr:id" content="e350d5">

    {% block css -%}
      <link href="{{ static('css/bootstrap.css') }}" rel='stylesheet' media='screen'>
      <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7CBitter%3A400%2C700&subset=latin%2Clatin-ext'>
      <link href='//fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>
      <link href='//fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
      <link rel='stylesheet' href='{{ static('css/custom.css') }}'>
      <link rel='stylesheet' href='{{ static('fonts/genericons.css') }}'>
      <link rel='stylesheet' href="{{ static('css/pygments-css/emacs.css') }}">
      <link rel='icon' href='{{ static('img/favicon.png') }}'>
      <style>
        body {
          font-family: Ubuntu, Arial, sans-serif;
        }
        h1, h2, h3, h4, h5, h6 {
          font-family: 'DejaVu Sans', Arial, sans-serif;
        }
      </style>
    {%- endblock css %}

    {% block headjs -%}
      <script src="{{ static('js/jquery/jquery-2.0.3.min.js') }}"></script>
    {%- endblock headjs %}
  {%- endblock head %}
  </head>

  <body>
    <nav class='navbar navbar-orange navbar-fixed-top'>
      {% include 'navbar.html' %}
    </nav>

    <header>
      {% block banner -%}
        {% include 'banner_intro.html' %}
      {%- endblock banner %}
    </header>

    {% block flash_message %}
      <div class='container flash'>
        {% include 'flash_messages.html' %}
      </div>
    {% endblock %}

    {% block content -%}
      <div class='container main'>
        {% block inner_content -%}
        {%- endblock inner_content %}
      </div>
    {%- endblock content %}

    {% include 'footer.html' %}

    {% block js -%}
      <script src='{{ static('js/bootstrap.min.js') }}'></script>
      <script src='{{ static('js/main.js') }}'></script>

      {% if not running_locally %}
        {% if not no_tracking %}
          {% include 'block_tracking.html' %}
        {% endif %}
      {% endif %}
    {%- endblock js %}
  </body>
</html>
