<!DOCTYPE html>
<html class='h-full'>
  <head>
  {% block head -%}
    <title>{% block title -%}{%- endblock title %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% if no_tracking %}
      <meta name='robots' content='noindex, nofollow'>
    {% endif %}
    <meta property='fb:app_id' content='396441990404313'>
    {% block meta_seo %}{% endblock meta_seo %}
    {% block meta_og %}{% endblock meta_og %}
    <meta name="flattr:id" content="e350d5">

    {% block css -%}
      <link href="{{ static('vendor/tailwind.css') }}?v=2" rel='stylesheet' media='screen'>
      <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7CBitter%3A400%2C700&subset=latin%2Clatin-ext'>
      <link href='//fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>
      <link href='//fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
      <link rel='stylesheet' href="{{ static('css/custom.css') }}?v=9">
      <link rel='stylesheet' href="{{ static('fonts/genericons.css') }}">
      <link rel='stylesheet' href="{{ static('css/pygments-css/material.css') }}">
      <link rel='icon' href="{{ static('img/favicon.png') }}">
      <style>
        body {
          font-family: Ubuntu, Arial, sans-serif;
        }
        h1, h2, h3, h4, h5, h6 {
          font-family: 'DejaVu Sans', Arial, sans-serif;
        }
      </style>
    {%- endblock css %}

    {% block headjs -%}
      <script type='module' src="{{ static('vendor/alpine_v2.8.2.min.js') }}"></script>
      <script nomodule src="{{ static('vendor/alpine-ie11_v2.8.2.min.js') }}" defer></script>
    {%- endblock headjs %}
  {%- endblock head %}
  </head>

  <body class='flex flex-col min-h-full' x-data='{mobileMenuShown: false, loginShown: false}' x-cloak>
    {% include 'navbar.jinja' %}

    <header class='container mx-auto w-full max-w-6xl mb-8 px-2'>
      {% block banner -%}
        {% include 'banner_intro.jinja' %}
      {%- endblock banner %}
    </header>

    {% block flash_message %}
      <div class='container mx-auto w-full max-w-4xl px-2'>
        {% include 'flash_messages.jinja' %}
      </div>
    {% endblock %}

    <main class='flex-auto'>
      {% block content -%}
        <div class='container mx-auto w-full max-w-4xl px-2'>
          {% block inner_content -%}
          {%- endblock inner_content %}
        </div>
      {%- endblock content %}
    </main>

    {% include 'footer.jinja' %}

    {% block js -%}

      {% if not running_locally %}
        {% if not no_tracking %}
          {% include 'block_tracking.jinja' %}
        {% endif %}
      {% endif %}
    {%- endblock js %}
  </body>
</html>
