<footer id='footer-page'>
	<div class="text-center">See my works at</div>
	<ul id='logos' class='list-inline container text-center'>
		<li>
			<a href="https://github.com/hongquan/" title="GitHub"><img src="{{ static('img/logos/github.png') }}"></a>
		</li>
		<li>
			<a href="https://bitbucket.org/hongquan/" title="BitBucket"><img src="{{ static('img/logos/bitbucket.svg') }}" height="40"></a>
		</li>
		<li>
			<a href="https://gitlab.com/quan" title="GitLab"><img src="{{ static('img/logos/gitlab.svg') }}" height="40"></a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/bachkhois/" title="LinkedIn"><img src="{{ static('img/logos/linkedin.png') }}"></a>
		</li>
	</ul>
	<p class='container text-center small'>
		This site supports <a href='http://www.mozilla.org'>Firefox</a>, <a href='http://www.google.com/chrome/‎'>Chrome</a>, <a href='http://www.opera.com'>Opera</a> browsers.
	</p>
</footer>
