<footer id='footer-page' class='mt-8 text-sm'>
	<div class="text-center">See my works at</div>
	<ul id='logos' class='text-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700'>
		<li class='inline-block'>
			<a href='https://github.com/hongquan/' title='GitHub' class='block'><img src="{{ static('img/logos/github.png') }}" class='h-12'></a>
		</li>
		<li class='inline-block'>
			<a href="https://bitbucket.org/hongquan/" title="BitBucket" class='block'><img src="{{ static('img/logos/bitbucket.svg') }}" class='h-12'></a>
		</li>
		<li class='inline-block'>
			<a href="https://gitlab.com/quan" title="GitLab" class='block'><img src="{{ static('img/logos/gitlab.svg') }}" class='h-12'></a>
		</li>
		<li class='inline-block'>
			<a href="https://www.linkedin.com/in/bachkhois/" title="LinkedIn" class='block'><img src="{{ static('img/logos/linkedin.png') }}" class='h-12'></a>
		</li>
	</ul>
	<p class='text-center small'>
		This site supports <a href='http://www.mozilla.org'>Firefox</a>, <a href='http://www.google.com/chrome/‎'>Chrome</a>, <a href='http://www.opera.com'>Opera</a> browsers.
	</p>
</footer>
