---
- name: Deploy Quan personal website
  hosts: all
  # This is needed to make ansible_env work
  gather_facts: true
  gather_subset:
    - "!all"
  vars:
    # Cannot use `ansible_user_dir` because facts are not gathered yet.
    base_folder: "~/QuanWeb/quanweb/"
    ladmin_folder: "{{ base_folder }}ladmin"
    backend_binary_dest: "~/.local/bin/quanweb"

  tasks:
    - name: Clean source  # noqa command-instead-of-module
      ansible.builtin.command: git reset --hard
      args:
        chdir: "{{ base_folder }}"
      register: git_reset
      changed_when: git_reset.rc == 0

    - name: Update source
      ansible.builtin.git:
        repo: "git@bitbucket.org:hongquan/quanweb.git"
        dest: "{{ base_folder }}"
        version: "main"
      register: git_out

    - name: Check if backend binary exists locally
      ansible.builtin.stat:
        path: "{{ playbook_dir | dirname }}/backend-binary/quanweb"
      register: backend_binary_stat

    - name: Upload backend binary
      ansible.builtin.copy:
        src: "{{ playbook_dir | dirname }}/backend-binary/quanweb"
        dest: "{{ backend_binary_dest }}"
        mode: '0755'
      when: backend_binary_stat.stat.exists

    - name: Check if ladmin dist exists locally
      ansible.builtin.stat:
        path: "{{ playbook_dir | dirname }}/ladmin-built"
      register: ladmin_dist_stat

    - name: Sync built ladmin app
      ansible.posix.synchronize:
        src: '{{ playbook_dir | dirname }}/ladmin-built/'
        dest: '{{ ladmin_folder }}/dist/'
        delete: true
      when: 
        - ladmin_dist_stat.stat.exists
        - ladmin_dist_stat.stat.isdir

    - name: Run Gel migrations
      ansible.builtin.command:
        cmd: "gel migrate"
        chdir: "{{ base_folder }}"
      register: gel_migrate
      changed_when: "'already up to date' not in gel_migrate.stdout|lower"

    - name: Restart service
      ansible.builtin.systemd:
        name: quanweb-rs
        state: restarted
      become: true

    - name: Debug git_out
      ansible.builtin.debug:
        var: git_out

  environment:
    # Modify PATH so that bun can be found.
    PATH: "{{ base_folder }}/venv/bin:{{ ansible_env.PATH }}:{{ ansible_facts['user_dir'] }}/.local/bin:{{ ansible_facts['user_dir'] }}/.bun/bin"
