on: [push]

name: CI

jobs:
  build-backend:
    name: quanweb
    runs-on: ubuntu-latest
    strategy:
      matrix:
        BUILD_TARGET: [release]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Get backend changes
        id: changed-backend
        uses: tj-actions/changed-files@v47.0.0
        with:
          files: |
            **.rs
            **.yml
            **.toml
            Cargo.lock
          files_ignore: |
            admin
            ladmin

      # Our backend binary needs to embed the frontend built files.
      - uses: oven-sh/setup-bun@v2
        if: steps.changed-backend.outputs.any_changed == 'true'

      - name: Build binary
        if: steps.changed-backend.outputs.any_changed == 'true'
        run: cargo build --profile ${{ matrix.BUILD_TARGET }} --all-features

      - name: Archive built files
        if: steps.changed-backend.outputs.any_changed == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: Built binaries
          path: target/${{ matrix.BUILD_TARGET }}/quanweb

  build-lustre-app:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ladmin
    steps:
      - uses: actions/checkout@v4
      - name: Get lustre app changes
        id: changed-lustre-app
        uses: tj-actions/changed-files@v47.0.0
        with:
          files: |
            ladmin/**
            **.yml
      - uses: oven-sh/setup-bun@v2
        if: steps.changed-lustre-app.outputs.any_changed == 'true'
      - uses: erlef/setup-beam@v1
        if: steps.changed-lustre-app.outputs.any_changed == 'true'
        with:
          otp-version: "27.1.2"
          gleam-version: "1.12.0"
          rebar3-version: "3"
          # elixir-version: "1"
      - name: Download Gleam dependencies
        if: steps.changed-lustre-app.outputs.any_changed == 'true'
        run: gleam deps download
      - name: Install JS dependencies
        if: steps.changed-lustre-app.outputs.any_changed == 'true'
        run: bun i
      - name: Build lustre app
        if: steps.changed-lustre-app.outputs.any_changed == 'true'
        run: bun run build
