on: [push, workflow_dispatch]

name: CI

jobs:
  classify-changes:
    runs-on: ubuntu-latest
    outputs:
      backend: ${{ steps.changed-backend.outputs.any_changed }}
      ladmin: ${{ steps.changed-ladmin-app.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
      - name: Get backend changes
        id: changed-backend
        uses: tj-actions/changed-files@v47.0.0
        with:
          files: |
            **.rs
            **.yml
            **.toml
            Cargo.lock
          files_ignore: |
            admin
            ladmin
      - name: Get ladmin app changes
        id: changed-ladmin-app
        uses: tj-actions/changed-files@v47.0.0
        with:
          files: |
            ladmin/**
            **.yml

  build-backend:
    name: quanweb
    needs: classify-changes
    if: needs.classify-changes.outputs.backend == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        BUILD_TARGET: [release]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      # Our backend binary needs to embed the frontend built files.
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Cache Bun dependencies
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Build binary
        run: cargo build --profile ${{ matrix.BUILD_TARGET }} --all-features

      - name: Archive built files
        uses: actions/upload-artifact@v4
        with:
          name: Built binaries
          path: target/${{ matrix.BUILD_TARGET }}/quanweb

  build-ladmin-app:
    needs: classify-changes
    if: needs.classify-changes.outputs.ladmin == 'true' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ladmin
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Cache Bun dependencies
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('ladmin/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-
      - uses: erlef/setup-beam@v1
        with:
          otp-version: latest
          gleam-version: latest
          rebar3-version: latest
          # elixir-version: "1"
      - name: Add WASM target for Rust
        run: rustup target add wasm32-unknown-unknown
      - name: Download Gleam dependencies
        run: gleam deps download
      - name: Install JS dependencies
        run: bun i
      - name: Build ladmin app
        run: bun run --bun build
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ladmin-built
          path: ladmin/dist

  # Manual full deployment (backend + frontend)
  deploy-backend-ladmin:
    runs-on: ubuntu-latest
    needs: [build-backend, build-ladmin-app]
    if: github.event_name == 'workflow_dispatch'
    env:
      ANSIBLE_HOST_KEY_CHECKING: False
    steps:
      - uses: actions/checkout@v5
      
      - name: Download backend binary
        uses: actions/download-artifact@v5
        with:
          name: Built binaries
          path: Deployment/backend-binary
        id: download_backend
        continue-on-error: true
        
      - name: Download Lustre dist
        uses: actions/download-artifact@v5
        with:
          name: ladmin-built
          path: Deployment/ladmin-built
        id: download_ladmin
        continue-on-error: true
        
      - name: Install Cowsay
        run: sudo apt-get install cowsay
        if: steps.download_backend.outcome == 'success' || steps.download_ladmin.outcome == 'success'
        
      - name: Install SSH priv key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.ANSIBLE_SSH_PRIVATE_KEY }}
        if: steps.download_backend.outcome == 'success' || steps.download_ladmin.outcome == 'success'
        
      - name: Run Ansible playbook (full deploy)
        run: |
          ansible-playbook \
            -i Deployment/Ansible/inventory.yml \
            Deployment/Ansible/playbook.yml \
            --limit prod \
            -u ${{ vars.SERVER_USERNAME }}
        if: steps.download_backend.outcome == 'success' || steps.download_ladmin.outcome == 'success'
